body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
}

.container {
  display: flex;
  height: 100vh;
}

/*note to remember : flex permet le scaling de l element en fct de l ecran en css*/

.left-panel {
  flex: 1; /* prend la moitié de l ecran */
  padding: 40px;
  display: flex;
  flex-direction: column; /*empile verticalement*/
  justify-content: center; /*centre verticalement et horizontalement*/
  align-items: center;
}

.right-panel {
  flex: 1; /*prend la moitié de l ecran */
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarot-card {
  max-width: 80%;
  height: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /*ombre douce*/
  border-radius: 12px; /*coins arrondis*/
}

.title {
  font-size: 32px;
  margin-bottom: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}

.login-form label {
  margin-top: 10px;
  font-weight: bold;
}

.login-form input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.forgot-password {
  align-self: flex-end;
  font-size: 0.9em;
  margin: 5px 0 15px;
  text-decoration: none;
  color: #555;
}

.sign-in, .register, .temp-button {
  background-color: #8B3A3A;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.sign-in:hover, .register:hover, .temp-button:hover {
  background-color: #722c2c;
}

.divider {
  text-align: center;
  margin: 15px 0;
  color: #888;
}

.temp-button {
  font-size: 0.8em;
  margin-top: 30px;
  background-color: rgba(139, 58, 58, 0.6);
}

.back-button {
  align-self: flex-start;
  margin-bottom: 20px;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
}
